.flex-container0 {
  display: flex;
  flex-direction: row;
}
.flex-container1 {
  overflow: visible;
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-height: 600px;
  margin: 0px;
  background-color: #087ad8fa;
  box-shadow: 0px 0px 20px #75b5fd inset;
}

.flexdiv {
  background-color: #2378d8;
  box-shadow: 0px 0px 12px 6px #01325a inset;
  width: 280px;
  height: 80px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

  font-size: 20px;
  font-weight: bolder;
  border: none;
}
.buttonactive {
  background-color: #970000dc;
  color: #ffffff;
  width: 280px;
  height: 80px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-shadow: 0px 0px 16px rgb(235, 67, 67) inset;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}
.flexdiv:hover {
  background-color: #387ece;
  box-shadow: 0px 0px 12px 6px #94c3ff inset;
  border: none;
}

.admindiv {
  padding-left: 50px;
  margin-top: 0px;
  padding-bottom: 40px;
  height: 100%;
  background-color: lightblue;
}
.heading111 {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.overflowcontrol {
  margin-bottom: 50px;
  overflow: auto;
  background-color: #83c8f6fd;
  box-shadow: 5px 5px 8px 5px rgb(43, 145, 204);
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
}
.flex2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 0px;
}
